@import "navbar.css";
@import "footer.css";
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

:root {
    --main-black: #000000;
    --main-dark-blue-color: #191970;
    --main-blue-color: #0000cd;
    --main-ocean: #11b8be;
    --main-tile: #10a8bf;
    --main-gradient: linear-gradient(180deg, rgba(0, 0, 206, 1) 0%, rgba(17, 184, 190, 1) 100%);
    --main-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

u{
    text-decoration: underline;
}
h1 {
    font-size: 48px;
    margin-bottom: 25px;
}

p {
    font-size: 18px;
}
.quote{
    margin: 25px;
    border-radius: 5px;
    background-color: rgb(194, 194, 194, 0.5);
    box-shadow: var(--main-shadow);
    text-align: center;
}
q{
    font-style: italic;
    padding: 45px;
}

.blog-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    background: var(--main-gradient);
    text-align: center;
    justify-content: center;
    height: 100vh;
    padding: 0 25px;
    box-shadow: var(--main-shadow);
}

.articles h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 24vh;
    text-align: center;
    font-size: 40px;
}

.sidebar {
    background-color: var(--main-dark-blue-color);
    text-align: center;
    justify-content: center;
}

.sidebar h2 {
    color: white;
    font-size: 40px;
    
}

.sidebar ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    line-height: 3rem;
    color: var(--main-tile);
}

.sidebar ul li a:hover {
    color: var(--main-blue-color);
}

.banner-full {
    display: none;
}

@media (min-width:1100px) {

    .blog-title {
        height: 500px;
    }
    .main-content {
        display: grid;
        grid-template-columns: 25% 75%;
    }
    .sidebar ul{
        margin-bottom: 5rem;
    }


    .sidebar ul li a {
        line-height: 5rem;
        color: var(--main-tile);
    }
    .sidebar h2 {
        height: 24vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    } 

    .banner-full {
        display: inline-block;
    }
    
    h2, h3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 24vh;
        text-align: center;
    }

    
}

@media (min-width: 600px) and (max-width: 1100px) {

    .blog-title {
        height: 34vh;
    }
    .main-content {
        display: grid;
        grid-template-columns: 100%;
        
        grid-template-areas:
        "cat"
        "articles"
        "footer"
        ;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        grid-area:cat;
        height: 30vh;
    }

    .articles{
        grid-area: articles;
    }
    footer{
        grid-area: footer;
    }
    
    
    .last {
        display: none;
    }
}

.recommended-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 30px auto 0 auto;
}

.article-post .post {
    background-color: var(--main-tile);
    box-shadow: var(--main-shadow);
    border-radius: 3px;
    padding: 15px;
    color: white;
    margin: auto 15px;
    display: inline-block;
}

.article-post .post:hover {
    background-color: white;
    color: var(--main-tile);
}

h4{
    font-size: 25px;
    text-align: center;
}

.post p{
    font-size: 17px;
    line-height: 35px;
}